.column {
  display: flex;
  flex-direction: column;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 1em;
}

.arrow {
  font-size: 1.5rem;
  color: var(--txt);
  transition: 0.3s ease-in-out;
}
.arrow.open {
  rotate: 90deg;
}

.title {
  font-size: 1.5rem;
  color: var(--txt);
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 4em;
  padding-top: 1em;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 2fr 2fr 1fr;
  column-gap: 1em;
  font-weight: bold;
}

.show-btn {
  display: flex;
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--acc);
}

.header-title {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.info-icon {
  color: var(--txt);
}

.info-text {
  font-size: 0.8rem;
  color: var(--txt);
  position: absolute;
  background-color: var(--bg-sec);
  padding: 0.5em;
  border-radius: 0.25em;
  font-size: 0.8rem;
  border: thin solid var(--border);
  top: 80%;
  left: 0;
  max-width: 110px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;
  z-index: 100;
}
.info-icon:hover+.info-text {
  opacity: 1;
  pointer-events: all;
  top: 110%;
}
