.menu {
  display: flex;
  justify-content: space-evenly;
  margin-block: 2em;

  button {
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: var(--bg-sec);
    padding: 0.5em;
    color: var(--txt);
    cursor: pointer;
  }
}

.editor {
  position: relative;
  padding: 0.5em;
  color: var(--txt);

  ol,
  ul {
    padding-left: 2em;
  }
}
.editor.empty:not(:focus)::after {
  content: "Start typing...";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: var(--txt-sec)
}
