.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.label {
  position: relative;
}

.color {
  position: absolute;
  right: 110%;
  top: 50%;
  translate: 0 -50%;
  height: 1.5em;
  aspect-ratio: 1;
}
