.modal {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  backdrop-filter: blur(8px);
}

.container {
  background-color: var(--bg);
  padding: 2em;
  width: 60%;
  height: 90%;
}
