.modal {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  backdrop-filter: blur(8px);
}

.container {
  background-color: var(--bg);
  padding: 2em;
  width: 60%;
  height: 90%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border: thin solid var(--border);
  border-bottom: none;
  position: relative;
}

.close {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--txt);
  font-size: 1rem;
  position: absolute;
  top: 1em;
  left: 1em;
}
